@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// FONTS
:root {
  --font-body: "Poppins", sans-serif;
}

//COLOURS
:root {
  --main-bg: #cddafd;
  --player-color: #ee6055;
  --computer-color: #5aa9e6;
  --font-color: #222325;
}
